console/.vite/
console/node_modules/
.vscode/
fire-detect/.temp.jpg
fire-detect/venv/
server/__pycache__/
fire-detect/runs/
deviceA.log
deviceB.log
deviceC.log
deviceD.log
deviceE.log
hardware/__pycache__/
